<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">

       <title>Weather Forecast</title>

</head>
<body>
    <nav><a href="weather">Forecast</a></nav>
    <nav><a href="forecast">London 7 Days</a></nav>
    <h2>Choose a City and Enter its country code</h2>
    <h1>{{msg}}</h1>
    <form action="/" method='POST'>
        <input type="text" placeholder="Enter City" name='theCity'>
        <input type="text" placeholder="Enter Country code" name='theCountry'>
        <button type="submit">Submit</button>
    </form>
<h2 style="text-transform: uppercase;">{{cityName}}</h2>
     <h3> Description: {{weatherDisc}}</h3>
     <h2>temp: {{tempC}} ºC</h2>

    <img src={{srcLogo}} alt='logo'/>
</body>
</html>